<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- google font -->
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

        <!-- jquery / app.js -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/scripts/app.js"></script>
        <!-- CSS stylesheets -->
        <script></script>
        <link rel="stylesheet" href="/styles/airline.css" type="text/css" />

    </head>

    <body>


        <div class="mainContainer" style="overflow-x: auto">
            <table class="table" id="flightInfo">
                <thead>
                        <tr>
                                <th class="title">Flight Number</th>
                                <th class="title">Departure</th>
                                <th class="title">Arrival</th>
                                <th class="title">Latitude</th>
                                <th class="title">Longitude</th>
                                <th class="title">Altitude</th>
                                <th class="title">Speed</th>
                                <th>
                                    <form methon="GET" action="/home">
                                        <button type="submit" class="btn btn-danger">New Search</button>
                                    </form>
                                </th>
                        </tr>
                </thead>
                <tbody>
                <!-- <tr> -->
                <% flightData.forEach(function(item) { %>
                <tr class="infoContainer">
                    <!-- <form method="POST" action="/result"> -->
                            <td class="flightCode"><%= item.flight.iataNumber %></td>
                            <td class="depCode"><%= item.departure.iataCode %></td>
                            <td class="arrCode"><%= item.arrival.iataCode %></td>
                            <td class="latCode"><%= item.geography.latitude %></td>
                            <td class="longCode"><%= item.geography.longitude %></td>
                            <td><%= item.geography.altitude %></td>
                            <td><%= item.speed.horizontal %></td>
                            <td>

                                <input id="theNumber" type="hidden" value="<%= item.flight.iataNumber %>" name="flightNum"> 
                                <input id="theLat" type="hidden"  value= "<%= item.geography.latitude %>" name="flightLat" >
                                <input id="theLong" type="hidden"  value= "<%= item.geography.longitude %>" name="flightLong" >
                                <input id="theAlti" type="hidden"  value= "<%= item.geography.altitude %>" name="flightAlti" >
                                <input id="theSpeed" type="hidden"  value= "<%= item.speed.horizontal %>" name="flightSpeed" >
                                <input id="theArr" type="hidden"  value= "<%= item.arrival.iataCode %>" name="flightArr" >
                                <button type="button" class="btn btn-primary" id="showButton">Show</button>
                            </td>
                    <!-- </form> -->
                </tr>
                <% });%>
                </tbody>
                <!-- </tr> -->
            </table>
        </div>




    </body>

</html>