<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- CSS stylesheets -->
        <!-- <link rel="stylesheet" href="/styles/index.css" type="text/css" /> -->

    </head>

    <body>


        <div>
            <table id="flightInfo">
                <tr>
                    <th>Flight Number</th>
                    <th>Departure</th>
                    <th>Arrival</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Altitude</th>
                    <th>Speed</th>
                    
                </tr>
                <tr>
                   <% flightData.forEach(function(item) { %>
                    <tr>
                        <form method="POST" action="/result">
                                <td><%= item.flight.iataNumber %></td>
                                <td><%= item.departure.iataCode %></td>
                                <td><%= item.arrival.iataCode %></td>
                                <td><%= item.geography.latitude %></td>
                                <td><%= item.geography.longitude %></td>
                                <td><%= item.geography.altitude %></td>
                                <td><%= item.speed.horizontal %></td>
                                <td>
                                    <input id="theNumber" type="hidden" value="" name="flightNum"> 
                                    <input id="theLat" type="hidden"  value= "" name="flightLat" >
                                    <button type="submit" class="btn btn-primary pink-background">Submit</button>
                                   
                                    <%  console.log(item.flight.iataNumber)%>
                                    <%    document.getElementById('theNumber').value = item.flight.iataNumber;%>
                                    <%   document.getElementById('theLat').value = item.geography.latitude;%>
                                    
                                </td>
                        </form>
                    </tr>
                    <% });%>
                </tr>
            </table>
        </div>




    </body>

</html>