<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- CSS stylesheets -->
        <!-- <link rel="stylesheet" href="/styles/index.css" type="text/css" /> -->

        <style>
            #map{
                height: 400px;
                width: 100%;
            }
        </style>



    </head>

    <body>
        <div>
            <span> Departure:  <%= flightData.departure.iataCode%></span></br>
            <span> Arrival:  <%= flightData.arrival.iataCode%></span></br>
            <span> Status:  <%= flightData.status%></span>
        </div>

        <div>
            <table>
                <tr>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Altitude</th>
                </tr>
                <tr>
                    <th id='flat'><%= flightData.geography.latitude%></th>
                    <th id='flong'><%= flightData.geography.longitude%></th>
                    <th><%= flightData.geography.altitude%></th>
                </tr>
            </table>
        </div>



        <iframe 
            id ="mapFrame" width="600" height="450" frameborder="0" style="border: 0"
            src="">
        </iframe>
            
        <script type="text/javascript">
            let thePlane = {lat: parseFloat(document.getElementById('flat').innerHTML), lng: parseFloat(document.getElementById('flong').innerHTML) }
            let ifr = document.createElement("iframe");
            var addre =  `https://www.google.com/maps/embed/v1/place?key=AIzaSyDbiqvTyWa2FXPnu9EetqBHqHAyZRlv_j0&q=${thePlane.lat},${thePlane.lng}&zoom=5`;
            document.getElementById("mapFrame").src = addre;
            console.log(thePlane)
        </script>

    </body>

</html>